header {
  max-width: 2000px;
  margin: auto;
  position: relative;
}

header .design_triangle {
  width: 1058.06px;
  height: 934.52px;
  background: url("../img/logo_trinagle.png") no-repeat;
  pointer-events: none;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 1600px) {
  header .design_triangle {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media (max-width: 1600px) and (max-width: 1250px) {
  header .design_triangle {
    width: 3500.06px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media (max-width: 1600px) and (max-width: 1250px) and (max-width: 880px) {
  header .design_triangle {
    width: 100000000.06px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@media (max-width: 1600px) and (max-width: 1250px) and (max-width: 880px) and (max-width: 600px) {
  header .design_triangle {
    -webkit-transform: scale(0.35);
            transform: scale(0.35);
  }
}

header .design_triangle img {
  height: 155px;
  margin-left: 197px;
  margin-top: 19px;
}

header .nav__wrapper {
  width: calc(100% - 1058.06px);
  margin-left: -100px;
}

@media (max-width: 1600px) {
  header .nav__wrapper {
    width: calc(100% - 700px);
  }
}

@media (max-width: 1600px) and (max-width: 1250px) {
  header .nav__wrapper {
    width: calc(100% - 220px);
  }
}

@media (max-width: 1600px) and (max-width: 1250px) and (max-width: 880px) {
  header .nav__wrapper {
    width: 100%;
  }
}

@media (max-width: 1600px) and (max-width: 991px) {
  header .nav__wrapper .navbar {
    position: absolute !important;
    top: 0;
    right: 15px;
  }
}

@media (max-width: 991px) {
  header .nav__wrapper .navbar-nav {
    background: #00a38c;
  }
}

header .nav__wrapper .nav__ul {
  margin-left: -100px;
}

@media (max-width: 991px) {
  header .nav__wrapper .nav__ul {
    margin-left: -20px;
  }
}

.header__bg__angles {
  min-height: 1500px;
}

.header__bg__angles.header__bg__angles--vector {
  background: url("../img/assets/bg_vector.png") no-repeat center;
  background-position-y: top;
}

.header__bg__angles.header__bg__angles--top {
  background: url("../img/assets/Bg_top.png") no-repeat center;
  background-position-y: top;
}

.header__bg__angles .accordion-button:after {
  content: "\f054";
  color: #ff623f;
}

.header__bg__angles .accordion-button:not(.collapsed):after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header__bg__angles .accordion-item {
  border-radius: 10px;
  overflow: hidden;
  background: white;
}

.header__bg__angles .accordion-item .accordion-header button.accordion-button {
  min-height: 130px;
}

@media (max-width: 991px) {
  .header__bg__angles .accordion-item .accordion-header button.accordion-button {
    min-height: 80px;
  }
}

@media (max-width: 991px) and (max-width: 767px) {
  .header__bg__angles .accordion-item .accordion-header button.accordion-button {
    min-height: 50px;
  }
}

@media (max-width: 767px) {
  .header__bg__angles {
    min-height: 1280px;
  }
}

.header__bg__angles .col__wrapper {
  margin-top: 350px;
}

@media (max-width: 767px) {
  .header__bg__angles .col__wrapper {
    margin-top: 150px;
  }
}

.section__why__mint {
  margin-top: -280px;
}

@media (max-width: 767px) {
  .section__why__mint {
    margin-top: 50px;
  }
}

.section__why__mint .mint__title {
  position: relative;
}

.section__why__mint .mint__title::after {
  content: attr(data-mint-title);
  position: absolute;
  top: -65%;
  left: -30%;
  opacity: 0.04;
  color: #000000;
  width: 100%;
  height: 100%;
  font-size: 95px;
  white-space: nowrap;
  font-family: inherit;
}

@media (max-width: 991px) {
  .section__why__mint .mint__title::after {
    font-size: 80px;
  }
}

@media (max-width: 991px) and (max-width: 767px) {
  .section__why__mint .mint__title::after {
    font-size: 60px;
  }
}

section.section_bg_slider {
  background: url("../img/assets/BG_Slider.png") no-repeat center/100% 100%;
  height: 1800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 350px;
  margin-top: -350px;
}

@media (max-width: 880px) {
  section.section_bg_slider {
    background-size: cover;
  }
}

section.section_bg_slider .swiper-container {
  width: 100%;
  height: 100%;
  padding-bottom: 50px !important;
}

section.section_bg_slider .swiper-wrapper {
  overflow-y: unset !important;
}

section.section_bg_slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section.section_bg_slider .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0px;
}

section.section_bg_slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.section_bg_slider .swiper-pagination-bullet {
  background: #1b7d7d;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section.section_bg_slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #ef5e3e;
  width: 18px;
  border-radius: 45px;
}

section.section__saying__slider .swiper-container {
  width: 100%;
  height: 100%;
}

section.section__saying__slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.section__saying__slider .swiper-slide {
  width: 70%;
}

section.section__saying__slider .swiper-slide img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 500px;
}

section.section__saying__slider .saying__swiper {
  position: relative;
}

section.section__saying__slider .saying__swiper::before {
  content: "";
  top: -70px;
  left: 70px;
  background: url("../img/Vector_slider.png") no-repeat;
  width: 145.58px;
  height: 192.11px;
  position: absolute;
}

section.section__saying__slider .saying__swiper::after {
  content: "";
  bottom: 0px;
  left: -70px;
  background: url("../img/Polygon_slider.png") no-repeat;
  width: 312.25px;
  height: 312.25px;
  position: absolute;
}

@media (max-width: 767px) {
  section.section__saying__slider .saying__swiper::after {
    display: none;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: Panton;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  color: #ffb039;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: drop-shadow(30px 50px 90px rgba(0, 0, 0, 0.94));
          filter: drop-shadow(30px 50px 90px rgba(0, 0, 0, 0.94));
  margin: 0 25px;
  font-weight: 300;
}

.swiper-button-next::after {
  content: ">";
  right: 5px;
}

.swiper-button-prev::after {
  content: "<";
  left: 25px;
  z-index: 333;
}

.angle__vector {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
}

.angle__vector::after {
  content: "";
  position: absolute;
  top: -100px;
  right: 0;
  width: 107px;
  height: 107px;
  background: url("../img/Vector_angle.png") no-repeat;
}

.section__realState .img__valleys__wrapper {
  height: 500px;
}

.section__realState .img__valleys__wrapper img {
  height: 450px;
}

@media (max-width: 991px) {
  .section__realState .img__valleys__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 40px;
  }
  .section__realState .img__valleys__wrapper img {
    width: 80%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.section__realState [alt="realState_vector"] {
  position: absolute;
  bottom: -144px;
  left: -138px;
  width: 232px;
  height: 325px;
  z-index: -2;
}

@media (max-width: 991px) {
  .section__realState [alt="realState_vector"] {
    left: 13%;
    bottom: -25%;
  }
}

footer {
  position: relative;
}

footer .design__oval {
  position: absolute;
  left: 0;
  bottom: 15%;
}

footer .design__poly {
  position: absolute;
  right: 0;
  top: -45%;
  height: 600px;
}

@media (max-width: 767px) {
  footer .design__poly {
    height: 400px;
  }
}

footer .design__poly img {
  height: 100%;
}

@media (max-width: 991px) {
  footer .design__poly {
    top: -23%;
  }
}

.form_outline_custom {
  background: #f6f6f6;
}

.form_outline_custom input,
.form_outline_custom select,
.form_outline_custom textarea {
  border: 2px solid transparent !important;
}

.form_outline_custom input::-webkit-input-placeholder,
.form_outline_custom select::-webkit-input-placeholder,
.form_outline_custom textarea::-webkit-input-placeholder {
  color: #6b6b6b !important;
}

.form_outline_custom input:-ms-input-placeholder,
.form_outline_custom select:-ms-input-placeholder,
.form_outline_custom textarea:-ms-input-placeholder {
  color: #6b6b6b !important;
}

.form_outline_custom input::-ms-input-placeholder,
.form_outline_custom select::-ms-input-placeholder,
.form_outline_custom textarea::-ms-input-placeholder {
  color: #6b6b6b !important;
}

.form_outline_custom input::placeholder,
.form_outline_custom select::placeholder,
.form_outline_custom textarea::placeholder {
  color: #6b6b6b !important;
}

.form_outline_custom input:focus,
.form_outline_custom select:focus,
.form_outline_custom textarea:focus {
  background: transparent;
  border: 2px solid #05dfc0 !important;
}

.form_outline_custom input:focus::-webkit-input-placeholder,
.form_outline_custom select:focus::-webkit-input-placeholder,
.form_outline_custom textarea:focus::-webkit-input-placeholder {
  color: #000;
}

.form_outline_custom input:focus:-ms-input-placeholder,
.form_outline_custom select:focus:-ms-input-placeholder,
.form_outline_custom textarea:focus:-ms-input-placeholder {
  color: #000;
}

.form_outline_custom input:focus::-ms-input-placeholder,
.form_outline_custom select:focus::-ms-input-placeholder,
.form_outline_custom textarea:focus::-ms-input-placeholder {
  color: #000;
}

.form_outline_custom input:focus::placeholder,
.form_outline_custom select:focus::placeholder,
.form_outline_custom textarea:focus::placeholder {
  color: #000;
}

.form_outline_custom .form-notch {
  display: none !important;
}

[alt="poly_left_angle"] {
  position: absolute;
  left: 0;
  bottom: -45%;
  z-index: -1;
}

@media (max-width: 991px) {
  [alt="poly_left_angle"] {
    height: 700px;
    bottom: 0%;
  }
}

.video_player_top button {
  width: 71px;
  height: 71px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  color: #009785 !important;
  -webkit-box-shadow: 0px 0px 0px 25px rgba(195, 191, 195, 0.747) !important;
          box-shadow: 0px 0px 0px 25px rgba(195, 191, 195, 0.747) !important;
}

.rounder__draw {
  position: absolute;
  top: -74px;
  left: -65px;
}

.rounder__orange {
  position: absolute;
  top: -74px;
  right: -65px;
}

.sample__number__section .sample__number__section--colbg {
  background: url("../img/sample_number.png") no-repeat center/cover;
}
/*# sourceMappingURL=CustomStyle.css.map */