header {
  max-width: 2000px;
  margin: auto;
  position: relative;
}

header .design_triangle {
  width: 1058.06px;
  height: 934.52px;
  background: url("../img/logo_trinagle.png") no-repeat;
  pointer-events: none;
}

header .design_triangle img {
  width: 341px;
  height: 155px;
  margin-left: 197px;
  margin-top: 19p;
}

header .nav__wrapper {
  width: calc(100% - 1058.06px);
  margin-left: -100px;
}

header .nav__wrapper .nav__ul {
  margin-left: -100px;
}

.mint__bg__top {
  background: url("../img/assets/Bg.png") no-repeat center;
  height: 1500px;
}

.mint__bg__top .col__wrapper {
  margin-top: 350px;
}

.section__why__mint {
  margin-top: -280px;
}

.section__why__mint .mint__title {
  position: relative;
}

.section__why__mint .mint__title::after {
  content: attr(data-mint-title);
  position: absolute;
  top: -65%;
  left: -27%;
  opacity: 0.04;
  color: #000000;
  width: 100%;
  height: 100%;
  font-size: 95px;
  white-space: nowrap;
  font-family: inherit;
}

section.section_bg_slider {
  background: url("../img/assets/BG_Slider.png") no-repeat center/100% 100%;
  height: 1800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 350px;
  margin-top: -350px;
}

section.section_bg_slider .swiper-container {
  width: 100%;
  height: 100%;
}

section.section_bg_slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section.section_bg_slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.section_bg_slider .swiper-pagination-bullet {
  background: #1b7d7d;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section.section_bg_slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #ef5e3e;
  width: 18px;
  border-radius: 45px;
}

section.section__saying__slider .swiper-container {
  width: 100%;
  height: 100%;
}

section.section__saying__slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.section__saying__slider .swiper-slide {
  width: 70%;
}

section.section__saying__slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 500px;
}

section.section__saying__slider .saying__swiper {
  position: relative;
}

section.section__saying__slider .saying__swiper::before {
  content: "";
  top: -70px;
  left: 70px;
  background: url("../img/Vector_slider.png") no-repeat;
  width: 145.58px;
  height: 192.11px;
  position: absolute;
}

section.section__saying__slider .saying__swiper::after {
  content: "";
  bottom: 0px;
  left: -70px;
  background: url("../img/Polygon_slider.png") no-repeat;
  width: 312.25px;
  height: 312.25px;
  position: absolute;
}

.angle__vector {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
}

.angle__vector::after {
  content: '';
  position: absolute;
  top: -100px;
  right: 0;
  width: 107px;
  height: 107px;
  background: url("../img/Vector_angle.png") no-repeat;
}
/*# sourceMappingURL=CustomStyle.css.map */